<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  {{>css}}
  <style>
    .newUsers{
      margin-top: 20px;
    }
  </style>
</head>

<body>
  <form action="/login" method="POST">
    <h1>Login </h1>
    <label for="email-phone">Email/Phone:</label>
    <input type="text" id="email-phone" name="email-phone" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Login</button>

  </form>
    <a  class="newUsers" href="registration">New user ? click here</a>

</body>

</html>